@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


footer{background:#353535; float:left; width:100%; padding:10px;}
.footer-title{font-size:15px; text-transform:uppercase;margin-bottom:15px; color:#fff; margin-top:25px;}
.footer-menu li {font-size: 12px;list-style: outside none none; line-height:27px;}
.footer-menu li a {color: #b6b4b4;}
@media (min-width:768px){
footer .col-xs-12{width:20%;}
}
@media (min-width:500px) and (max-width:767px){
footer .col-xs-12{width:50%;}
}
@media (max-width:499px){
footer .col-xs-12{width:100%;}
}

.footer-btm{background:#353535; border-top:1px solid #444444; float:left; width:100%; padding:10px}
.footer-btm span{color:13px; color:#b6b4b4; text-transform:uppercase}
.footer-btm a{color:#b6b4b4; text-decoration:underline}

@media (max-width:600px){
.pull-left.fl {width: 100%;}
.pull-left.fl img {margin:0 auto; float:none !important; display:table; margin-bottom:15px;}
}

@media (min-width:600px) and (max-width:991px){
.lgind{width:50% !important; float:left}	
}

@media (min-width:500px) and (max-width:991px){
.main-slider-title {font-size: 23px;}
.main-slider-des {font-size: 13px;}
}
@media (max-width:499px){
.main-slider-title {font-size: 16px;line-height: 18px}
.main-slider-des {display:none;}
.login-div {display: table;float: left;margin: 15px auto 0;width: 100%;}
.login-div > ul {display: table;margin: 0 auto;}
}
